@import url('https://fonts.googleapis.com/css2?family=Azeret+Mono:ital,wght@0,100..900;1,100..900&display=swap');

*{
    margin: 0;
    padding: 0;
}
body{
    max-width: 1440px;
    width: 100%;
    font-family: "Azeret Mono";
    margin: 0 auto;
}

/* shared styles */

.color-1{
    color: #0D1321B3;
}

.content-description{
    color: #0D1321B3;
    font-size: 16px;
    font-weight: 400;
    line-height: 26px;
}
h3{
    color: rgba(13, 19, 33, 0.7);
    font-size: 24px;
    font-weight: 700;
    text-align: left;
    margin-bottom: 16px;
}

/* header secion styles starts here  */

/* -------nav style----- */
nav{
    margin: 45px 140px;
}
nav ul{
    display: flex;
    justify-content: space-between;
    align-items: center;
}
nav ul li{
    list-style: none;
}
.nav-title{
    font-size: 28px;
    font-weight: 800;
}
.nav-btn{
    border-radius: 8px;
    padding: 17px 24px;
    font-size: 20px;
    font-weight: 600;
    border: 1px solid rgb(13, 19, 33,);  
    opacity: 0.8;
    margin-right: 10px;
    cursor: pointer;
}


 /* banner section start  */
 .banner{
    width: 1440px;
    height: 652px;
    background-image: url(../assets/Hero-bg.png);
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
}
.banner-container{
    width: 998px;
    display: flex;
    flex-direction: column;
    margin: 0 auto;
    align-items: center;
    text-align: center;
    padding: 26px;
}
.banner-content{
    margin-top: 32px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 24px ;
}
.banner-img-container{
    width: 240px;
}
.banner-img-container img{
    width: 100%;
}
.banner-title{
    font-size: 48px;
    font-weight: 800;
}
.banner-description{
    line-height: 68px;
}
.contact-btn{
    background-color: black;
    color: rgb(255, 255, 255);
    font-size: 20px;
    font-weight: 600;
    text-align: center;
    padding: 21px 24px ;
    border: none;
    border-radius: 8px;
    display: block;
    width: fit-content;
    text-decoration: none;
    cursor: pointer;

}

/* header section ends here  */



/* main section starts here  */
main{
    width: 1140px;
    margin: 0 auto;
}
h2{
    font-size: 32px;
    font-weight: 800;
    line-height: 37px;
    text-align: center;
    margin-bottom: 24px;
}

/* why web development section styles  */
.web-dev-container{
    margin-top: 74px;
    padding: 80px 97px;
    border-radius: 16px;
    background-color: rgba(13, 19, 33, 0.02);
}
.web-dev-content{
    width: 850px;
    padding: 0 45px;
    text-align: center;
    margin-bottom: 48px;
}

.web-dev-items{
    width: 850px;
    padding: 48px;
    margin-bottom: 32px;
    display: flex;
    justify-content: space-between;
    border-radius: 16px;
    background: linear-gradient(90.00deg, rgb(255, 255, 255),rgba(255, 255, 255, 0) 100%);
}
#background-90deg{
    background: linear-gradient(-90.00deg, rgb(255, 255, 255),rgba(255, 255, 255, 0) 100%); 
}
.items-content{
    width: 477px;
}
.items-img{
    width: 250px;
}
.items-img img{
    width: 100%;
}
.web-dev-items button{
    border: 2px solid #0D1321B3;
    opacity: 0.7;
    color: rgb(13, 19, 33);
    font-size: 20px;
    font-weight: 600;
    text-align: center;
    padding: 12px 20px;
    margin-top: 32px;
    cursor: pointer;
}


/* my inspiration section styles start here  */


.inspiration-container{
    margin-top: 88px;
    margin-bottom: 150px;
}
.inspiration-content{
    padding: 0 144px;
    text-align: center;
}

.inspiration-vedio{
    margin-top: 48px;
    box-sizing: border-box;
    border: 1px solid rgba(13, 19, 33, 0.2);
    border-radius: 16px;
    padding: 32px;
}
.inspiration-vedio iframe{
    border-radius: 16px;
}


/* end of inspiration section's styles */



 /* ----My current target section start here------ */

.target-header{
    text-align: center;
    width: 850px;
    margin: 0 auto;
}
.target-container{
    margin-top: 56px;
    display: flex;
    justify-content: space-between;
    align-items: center;

}
.target-content{
    width: 284px;
    padding: 40px;
    border-radius: 16px;
    
}
.target-content img{
    margin-bottom: 24px;
}
.target-container-title{
    font-size: 24px;
    font-weight: 800;
    margin-bottom: 8px;
}
#learn-more-link{
    Font-weight: 700;
    Font-size: 16px;
    color: black;
    margin-top: 24px;
    display: block;
}

/* for backgorund  */

.target-content-bg-1{
    background-color: rgba(255, 76, 30, 0.05);
}
.target-content-bg-2{
    background-color: rgba(0, 76, 232, 0.05);
}
.target-content-bg-3{
    background-color: rgba(255, 223, 0, 0.05);
}


/* next target secion styles start here  */
.next-target{
    margin-top: 112px;
}
.next-target-container{
    margin-top: 48px;
} 
.next-target-items{
    box-sizing: border-box;
    border: 1px solid rgba(13, 19, 33, 0.15);
    border-radius: 16px;
    padding: 40px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-bottom: 24px;
}
.next-target-items-content{
    width: 900px;
}








































/* support section styles here */
.support{
    margin-top: 50px;
    height: 314px;
    padding: 64px 48px;
    border-radius: 16px;
    background-image: url(../assets/handshake.jpg);
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    background-color: rgba(0,0,0,0.5);
    background-blend-mode: overlay;
}
.support-container{
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 50px;
}
.support-title{
    color: rgb(255, 255, 255);
    font-size: 32px;
    font-weight: 700;
    text-align: center;
}
.support-container p{
    color: rgba(255, 255, 255, 0.7);

}
.input-box{
    margin-top: 34px;
}
.input-box input{
    padding: 22px;
    border-radius: 8px;
    width: 548px;
    color: black;
    font-weight: 400;
    border: none;
}
.input-box button{
    width: 120px;
    height: 58px;
    border-radius: 8px;
    font-weight: 700;
    color: rgb(13, 19, 33);
    font-size: 20px;
    background-color: rgb(255, 255, 255); 
    cursor: pointer;
}


/* footer section styles  */
footer{
    margin-top: 80px;
    background: rgba(13, 19, 33, 0.03);
}
.footer-container{
    padding: 32px 150px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}
footer h3{
    font-size: 20px;
    font-weight: 600;
    color: black;
}
footer a{
    text-decoration: none;
    margin-left: 24px;
}
